<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>add</servlet-name>
    <servlet-class>hbfu.servlet.addServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>reset</servlet-name>
    <servlet-class>hbfu.servlet.resetServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>delete</servlet-name>
    <servlet-class>hbfu.servlet.deleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>connServlet</servlet-name>
    <servlet-class>hbfu.servlet.ConnServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>checkServlet</servlet-name>
    <servlet-class>hbfu.servlet.CheckServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Download</servlet-name>
    <servlet-class>hbfu.servlet.DownloadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>agree</servlet-name>
    <servlet-class>hbfu.servlet.agreeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>diradd</servlet-name>
    <servlet-class>hbfu.servlet.diraddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>dirreset</servlet-name>
    <servlet-class>hbfu.servlet.dirresetServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>dirdel</servlet-name>
    <servlet-class>hbfu.servlet.dirdelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>disagree</servlet-name>
    <servlet-class>hbfu.servlet.disagreeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>disagree</servlet-name>
    <url-pattern>/disagree</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>dirdel</servlet-name>
    <url-pattern>/dirdel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>dirreset</servlet-name>
    <url-pattern>/dirreset</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>diradd</servlet-name>
    <url-pattern>/diradd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>agree</servlet-name>
    <url-pattern>/agree</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Download</servlet-name>
    <url-pattern>/Download</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>checkServlet</servlet-name>
    <url-pattern>/check</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>connServlet</servlet-name>
    <url-pattern>/conn</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>add</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>delete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>reset</servlet-name>
    <url-pattern>/reset</url-pattern>
  </servlet-mapping>
</web-app>